html {
    scroll-behavior: smooth;
}
body {
    background-color: #F4F4F4;
}

@keyframes slideup {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
        /*animation: slideup 0.3s ease delay 1 forwards;*/
    }
}

.navouter {
    position: absolute;
    left: 20px;
    top: 30px;
    right: 40px;

    height: 65px;

    display: grid;
    grid-template-columns: 120px 3fr repeat(6, 1fr);
    grid-auto-flow: column;

    transition: 0.4s ease;
}
.navfloat {
    position: fixed;
    top: 20px;

    box-shadow: 0px 3px 43px rgba(0, 0, 0, 0.055);
    background-color: white;
    border-radius: 30px;

    z-index: 10;
}
.navouter span {
    cursor: pointer;
    margin: auto;
    transition: 0.2s ease;
}
.navouter > span:first-child {
    color: #454545;
    font: normal normal bold 29px/38px orpheuspro, serif;
}
.navouter > span:not(:first-of-type) {
    color: #9F9F9F;
    font-family: sofia-pro, sans-serif;
    font-size: 16px;
}
.navouter > span:not(:first-of-type):hover {
    color: #6b6b6b;
}
.navouter > span:last-child {
    color: #6B8A93;
}

.globalbottom {
    margin: auto;
    height: 450px;
    width: 600px;
}
.globalbottom h1 {
    text-align: center;
    color: #4A4A4A;
    font-family: orpheuspro, serif;
    font-size: 50px;
    font-weight: 500;
    margin-block-end: 15px;
}
.globalbottom p {
    margin-block-start: 0;
    text-align: center;
    color: #8D8D8D;
    font-family: sofia-pro, sans-serif;
    font-size: 17px; line-height: 30px;
    font-weight: 400;
}
.globalbottom div.button {
    cursor: pointer;
    margin: 40px auto auto auto;
    width: 240px;
    height: 50px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    transition: 0.3s ease;
}    
.globalbottom div.button:hover {
    box-shadow: 0px 3px 16px #00000007;
}

.bottombutton span:first-of-type {
    font-family: sofia-pro, sans-serif;
    font-size: 17px; 
    color: #8D8D8D;
    margin: auto;
}
.bottombutton span {
    grid-area: 1/1/1/1;
}
.bottombutton .material-icons-outlined {
    color: #b1b1b1;
    font-size: 15px;
    margin: 21px 65px auto auto;
}

.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline 1px;
}
.lighter {
    color: #B2B2B2;
}
.darker {
    color: #464646;
}

.coverpage {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-color: #F4F4F4;

    display: none;
    z-index: 1000;
}

.coverpage {
    display: none;
    place-items: center;
}
.coverpage div {
    text-align: center;
    grid-area: 1/1/1/1;
}

@media only screen and (max-width: 900px) {
    body, html {
        overflow: hidden;
    }
    .coverpage {
        display: grid;
    }
}