.maincontent {
    position: absolute;
    top: 180px;
    left: 20px;
    right: 40px;

    height: min-content;
}
.innergrid {
    margin: 0 100px 0 50px;
    height: min-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 50px;
}
.innergrid img {
    position: relative; opacity: 0; top: 15px;
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.phone:last-of-type{
    margin: 100px auto;
}
.phone:first-of-type {
    animation: slideup 0.7s ease 0.3s 1 forwards;
}

.sectioncontent {
    margin: 50px 0 50px 100px;
}
.sectioncontent h1 {
    color: #4A4A4A;
    font-family: orpheuspro, serif;
    font-size: 60px;
    font-weight: 500;
}
.sectioncontent p {
    color: #8D8D8D;
    font-family: sofia-pro, sans-serif;
    font-size: 19px; line-height: 37px;
    font-weight: 400;
}
.sectioncontent li {
    color: #4E4E4E;
    font-family: sofia-pro, sans-serif;
    font-size: 19px; line-height: 37px;
    font-weight: 400;
}
.sectioncontent hr {
    border: #d4d4d4 1px solid;
}